alive-progress==1.6.2
certifi==2021.5.30
charset-normalizer==2.0.4
fake-useragent==0.1.11
flake8==3.9.2
idna==3.2
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1
python-dateutil==2.8.2
requests==2.26.0
six==1.16.0
urllib3==1.26.6
